#{extends 'main.html' /}
#{set title:'顯示清單' /}
#{set 'moreStyles'}
    <script src="@{'/public/javascripts/kendo.all.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/kendo.common.min.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/kendo.default.min.css'}">
#{/set}

#{set 'moreScripts'}
<script type='text/javascript'>
    var grid;
    $(document).ready(function (){
        grid = $("#content").kendoGrid({
            dataSource:{dataType:"jsonp", transport:{read:"/user/getList"}, pageSize:5},  //I try=> odata->xml, jsonp->json
            groupable: true,  //可分組
            selectable: "multiple",   //可選
            sortable: true,   //排序
            pageable: {refresh:true, pageSizes:true, buttonCount:5},  //分頁
            columns:   //列
                [{
                    field: "_id", 
                    width: 50
                },{
                    field: "name",
                    title: "名子",
                    width: 50
                },{
                    field: "age",
                    title: "年齡",
                    width: 50
                },{
                    field: "email",
                    title: "郵件",
                    width: 50
                },{
                    field: "account",
                    title: "帳號",
                    width: 50
                },{
                    field: "password",
                    title: "密碼",
                    width: 50
                }]
        }).data("kendoGrid");      
                                       
    });
</script>
#{/set}

<div id='content'></div>