#{extends 'main.html' /}
#{set title:'測試' /}

#{set 'moreStyles' }
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
    <script src="@{'/public/javascripts/swfobject.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script type='text/javascript'>
        function OnLoadCallback() {
          gapi.client.setApiKey('AIzaSyBPOgtmO1rYYm9ieSQ-BD5PiAiHNgkwI5k');
          gapi.client.load('youtube', 'v3', function () {console.log("youtube api loaded and ready");});
        }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
#{/set}

#{set 'moreScripts'}
<style type='text/css'>
#wrapper{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}
#bar{
    padding-top:50px;
    /*background-color:#CCFFCC;*/
}
.inputgroup{
    float:left;
    margin-left:2px;
    margin-right:2px;
}
.inputgroup ul{
    border: 1px solid #999966;
    list-style:none;
}
.inputgroup ul li{
    padding-left:10px;
    cursor:pointer;
}
.over{
    background-color:#6699FF;
}
#content{
    width:300px;
    float:left;
}
#comment{
    width:300px;
    float:right;
    padding:10px;
}
#comment h1{
    font-size:13px;
    border:1px solid #999966;
    padding:10px;
    cursor:pointer;
}
#comment ul{
    width:280px;
    padding:10px;
    list-style:none;
    background-color:#6C6C50;
}
#comment ul li{
    background-color:#fff;
}


</style>
<script type='text/javascript'>
    var soundName="", year="", where="", snListNum="", javascriptJson;

    $(document).ready(function(){
        $(".inputgroup ul").hide();
        $("#comment ul").hide();
        $(".inputgroup input[title|='year']").bind("focus", focusFn);
        $(".inputgroup input").bind("blur", blurFn);
        var inputListLeng = $(".inputgroup ul li").length;
        //console.log(inputListLeng);
        for(var i=0; i<inputListLeng; i++){
            $(".inputgroup ul li:eq("+i+")").bind("mouseover", listMouseoverFn)
            $(".inputgroup ul li:eq("+i+")").bind("mouseout", listMouseoutFn)
            $(".inputgroup ul li:eq("+i+")").bind("click", listClickFn)
        }
        $(window).keypress(keypressFn); //windwo加入keybored事件
        $("#comment h1").bind("click", function(){ $("#comment ul").show(); });
        $("#comment input").bind("click", function(){ $("#comment ul").hide(); });
    });
    function focusFn(e){
        $(e.currentTarget).next("ul").slideDown(500);
    }
    function blurFn(e){
       $(".inputgroup ul").slideUp(1000);
       var parSwitch = $(e.currentTarget).attr("title");
       //console.log(parSwitch);
       switch(parSwitch){
        case "soundName": soundName = $(e.currentTarget).val();
        break;
        case "year": year = $(e.currentTarget).val();
        break;
        case "where": where = $(e.currentTarget).val();
        break;
       }
    }
    function listMouseoverFn(e){
        $(e.currentTarget).addClass("over");
    }
    function listMouseoutFn(e){
        $(e.currentTarget).removeClass("over")
    }
    function listClickFn(e){                                                         //每個dropdown的清單按下所執行的方法
       //console.log("我在li按下後得到li的內容 : " + $(e.currentTarget).html());      //顯示按下的那個li名稱
       $(e.currentTarget).parent().prev("input").val($(e.currentTarget).html());
       var parSwitch = $(e.currentTarget).parent().prev("input").attr("title");     //按下後離開, 為先執行blurFn在執行listclickFn
       switch(parSwitch){
        case "soundName": soundName = $(e.currentTarget).html();
                          snListNum=$(e.currentTarget).attr("title");     //為了記錄soundName的清單是否按過需不需要再收尋一次影片
        break;
        case "year": year = $(e.currentTarget).html();
        break;
       }
    }
    function keypressFn(e){
        //console.log( "which : " + $(e.which) + "/ keycode : " + $(e.keyCode) );   //官網找不到:每個按鈕的編號 
        if( e.which!=13 || $(".inputgroup input[title|='soundName']").val()=="" ){ //要按下Enter和input裡要有字
            return;
        }
        search( $(".inputgroup input[title|='soundName']").val(), true ); //這個是為了去收尋影片
    }
    function goclickFn(){
        console.log(soundName + "/" + year + "/" + where);
        if( soundName=="" || year=="" || where=="" ){
            alert("please check all the input button have word!!");
            return;
        }
        if( snListNum!="" ){   
            swfobject.embedSWF("http://www.youtube.com/v/"+javascriptJson.items[snListNum].id.videoId+"?enablejsapi=1&playerapiid=ytplayer&version=3", "content", "300", "200", "8");
            $("#shotTitle").html(javascriptJson.items[snListNum].snippet.title);
        }else{
            search( $(".inputgroup input[title|='soundName']").val(), false );
        }
    }
    function switchWork(boo){
        if(boo){
             $(".inputgroup:eq(0) ul li").remove();
            for(var i=0; i<javascriptJson.items.length; i++){
                $(".inputgroup:eq(0) ul").append("<li title='"+i+"'>"+javascriptJson.items[i].snippet.title+"</li>");
                $(".inputgroup:eq(0) ul li").bind("mouseover", listMouseoverFn)
                $(".inputgroup:eq(0) ul li").bind("mouseout", listMouseoutFn)
                $(".inputgroup:eq(0) ul li").bind("click", listClickFn)
            }
            $(".inputgroup:eq(0) ul").slideDown(500);
            $(".inputgroup:eq(0) input").bind("focus", focusFn);
        }else{
            $("#shotTitle").html(javascriptJson.items[0].snippet.title)
            swfobject.embedSWF("http://www.youtube.com/v/"+javascriptJson.items[0].id.videoId+"?enablejsapi=1&playerapiid=ytplayer&version=3", "content", "300", "200", "8");
        }
    } 
    function commentClickFn(){
        $("#comment ul").show();
    }
    
//=================================================================================
    function search(par, b) {
      var request = gapi.client.youtube.search.list({
        q: par,                                          //q為利用字串做搜尋
        part: 'snippet'
      });
    
      request.execute(function(response) {
        var searchVideoResult = JSON.stringify(response.result);  //得到json的純文字格式
        //$("#content").html(searchVideoResult);
        javascriptJson = JSON.parse(searchVideoResult);               //將json字串傳入javascript變數
        switchWork(b)
      });
    }//search end
//=================================================================================
    
</script>
#{/set}
<div id="wrapper">
    <div id="bar">
        <div class="inputgroup" style="width:180px">
          <input type="text" class="form-control" placeholder="input the sound name" title="soundName">
          <ul>   
          </ul>
          press enter can search list 
        </div>
        <h3 class="inputgroup">reminds me of</h3>
        <div class="inputgroup" style="width:70px">
         <input type="text" class="form-control" placeholder="year" title="year">
          <ul>  
            <li>2007</li>  
            <li>2008</li>  
            <li>2009</li>
            <li>2010</li>   
          </ul>
        </div>
        <h3 class="inputgroup">at</h3>
        <div class="inputgroup" style="width:100px">
            <input type="text" class="form-control" placeholder="place" title="where">
        </div>
        <button class="btn btn-default" type="button" onclick="goclickFn()">Go!</button>
    </div><br>
    <h4 id="shotTitle"></h4>
    <div id="content"></div>
    <div id="comment">
        <h1>Remember how we used to skip classes and hang out behind the school building listening to these Ronan Keating songs.. I had a huge crush on him at that time blush!</h1>
        <ul>
            <input type="button" value="ｘ">
            <li>
                <img src="@{'/public/images/pic_1.jpg'}">
                <h3>title</h3>
                <h4>content</h4>
            </li>
            <li>
                <img src="@{'/public/images/pic_2.jpg'}">
                <h3>XXXXXX</h3>
                <h4>yyyyyyyyyyyyyyyyy</h4>
            </li>
            <li>
                <img src="@{'/public/images/pic_3.jpg'}">
                <h3>AAAAAAAAAAAA</h3>
                <h4>bbbb!bbbb!bbbb!</h4>
            </li>
        </ul>
    </div>
</div>
