﻿#{extends 'main.html' /}
#{set title:'create'/}
#{set 'moreScripts'}
<style>
#wrapper{
    width:250px;
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
}
</style>
<script type="text/javascript">
    function submitFn(event){
        event.preventDefault();
        var name = $("#wrapper form input[name|='name']").val();
        var age = $("#wrapper form input[name|='age']").val();
        var mail = $("#wrapper form input[name|='mail']").val();
        var act = $("#wrapper form input[name|='account']").val();
        var pw = $("#wrapper form input[name|='password']").val();
        $.post( 'create', {name:name, age:age, mail:mail, account:act, password:pw}, saveResultFn);
    }
    function saveResultFn(data){
        if(data=="error"){
            $("#wrapper h4").text(data);
        }else{
            $("#wrapper h4").html("Id : " + data[0] + "<br> save result is : " + data[1]);
        }
    }
</script>
#{/set}


<div id='wrapper'>
<h3>create new account</h3>
<form onsubmit='submitFn(event)'>
姓名：<input type='text' name='name' placeholder="name"><br>
年齡：<input type='text' name='age' placeholder='age'><br>
郵件：<input type='text' name='mail' placeholder='mail'><br>
帳號：<input type='text' name='account' placeholder='account'><br>
密碼：<input type='text' name='password' placeholder='password'><br>
<input type='submit' value='Enter'>
</form>
<h4 style='color:#FF0000'></h4>
</div>