﻿#{extends 'main.html' /}
#{set title:'修改' /}
#{set 'moreStyles'}
    <script src="@{'/public/javascripts/kendo.all.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/kendo.common.min.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/kendo.default.min.css'}">
#{/set}
#{set 'moreScripts'}
<style type='text/css'>
#wrapper{
    width:400px;
    margin-right:auto;
    margin-left:auto;
    margin-top:200px;
    text-align:center;
}
</style>
<script type='text/javascript'>
    $(document).ready(function (){
         $("#wrapper select").bind("change", changeFn)
    });//ready end
    
    function changeFn(e){
        //console.log( $(e.currentTarget).val() )
        var userSelectRes = $(e.currentTarget).val();
        if( userSelectRes!="nodata"){
            var wind = $("#window").kendoWindow({  //增加變數wind的設定讓我解決打開多次的問題, 沒增加變數只是執行一次
                actions: ["Close"],
                draggable: true,
                height: "200px",
                width: "300px",
                resizable: false,
                title: "更新表列",
                content: "update?id="+userSelectRes+""
            }).data("kendoWindow");
            wind.center().open();  //在中間的位子打開
        }
    }
    
</script>
#{/set}


<div id='wrapper'>
    select update id : 
    <select>
        <option value='nodata'>please select..</option>
        #{list items:userList, as:'e'}
            <option value='${e.id}'>${e.id}：${e.name}</option>
        #{/list}
    </select>
</div>
<div id='window'></div>
